<!---<cfinvoke component="CREST.Manage.checkAccess" method="getAccessLevel" pidm="847411" courseId="0" returnvariable="accessLevel">
--->
		<cfstoredproc procedure="vm_Check_Access_Level" datasource="#REQUEST.CREST_DSN#">
			<cfprocresult name="getRoleLevel">
			<cfprocparam type="in" cfsqltype="cf_sql_integer" dbvarname="@pidm" value="847411">
			<cfprocparam type="in" cfsqltype="cf_sql_integer" dbvarname="@courseId" value="0">
		</cfstoredproc>

<cfdump var="#getRoleLevel#">