<cfset Local.UserCode = 'VMDEAN'>
<cfset Local.PassKey = 'umTc06QpKxJi0Hpt'>
<cfset Local.EmployeeID = '016239949'><!--- o'bryan --->
<cfset Local.EmployeeID = '020410767'><!--- ilkiw --->
<cfset Local.EmployeeID = '728148818'><!--- brandt --->
 
<cfset Local.Credential = "Basic " & ToBase64(Local.UserCode & ":" & Local.PassKey) />
<cfhttp URL="https://secure-dev.saot.ucdavis.edu/rest/Training/SDPS/FERPA/#Local.EmployeeID#" method="GET">
  <cfhttpparam type="Header" name="Accept" value="application/json" />
  <cfhttpparam type="Header" name="authorization" value="#Local.Credential#" />
</cfhttp>
<cfdump var="#cfhttp#">

<cfset Local.ResponseHeader = CFHTTP.ResponseHeader />
<cfif Local.ResponseHeader.Status_Code neq "200">
  <h2>An error had accurred.  From the HTTP Response Header:</h2>
  <cfoutput> Status Code: #Local.ResponseHeader.Status_Code#<br />
    Explanation: #Local.ResponseHeader.Explanation#<br />
  </cfoutput>
  <cfelse>
  <!---       Parse the web service output    --->
  <cfset Local.TheResult = CFHTTP.FileContent />
  <h2>Response from Web Service</h2>
  <cfset Local.TheResult   = DeSerializeJSON(Local.TheResult) />
  After parsing JSON data:<br />
  <br />
  <cfloop index="r" array="#Local.TheResult#">
    <cfoutput> Activity Code=#r["ActivityCode"]#<br />
      Activity ID=#r["ActivityID"]#<br />
      Title=#r["Title"]#<br />
      Attended the course=#r["Attended"]#<br />
      Status=#r["Status"]#<br />
      <hr />
    </cfoutput>
  </cfloop>
</cfif>
