<!DOCTYPE html> 
<html> 
    <head> 
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
        <title>Hello World</title> 
 
        <script src="/SenchaTouch/sencha-touch.js" type="text/javascript"></script> 
        <link href="/SenchaTouch/sencha-touch.css" rel="stylesheet" type="text/css" /> 
 
    <script type="text/javascript"> 
 
    new Ext.Application({
        launch: function() {
            new Ext.Panel({
                fullscreen: true,
                html: 'Hello World!'
            });
        }
    });
 
</script>
    </head> 
    


    <body></body> 
</html>