<cfhttp url="https://vmacs-qa.vetmed.ucdavis.edu/trust/query.xml?dbfile=103&AUTH=06232005&index=Phone4&find=7432&format=FIVE9&limit=20&filter=(HomePhn[%22916 502 7432%22)!(WorkPhn[%22916 502 7432%22)!(FaxMssPh[%22916 502 7432%22)" timeout="5"></cfhttp>

	<cfdump var="#cfhttp#"><cfabort>
