<cfset VMACSRootURL = 'https://vmacstest.ucdsvm.ucdavis.edu'>

<cfhttp url="#VMACSRootURL#/Vmacs2-rest/raps/permission" method="get">
	<cfhttpparam name="Authorization" type="header" value="dm10aFJlc3RDbGllbnQ6dm0yM3RoU2NoVUNE" >   	
</cfhttp>
<cfdump var="#cfhttp#"><cfabort>