<table border="1">
  <tr valign="top">
    <td><input value="Diarrhea" size="30"></td>
    <td>
      Diarrhea<br>
      asldkjfasdf<br>
      askldfoiwqef<br>
    </td>
  </tr>
  <tr valign="top">
    <td><input value="Pyelonephritis (Staph UTI)" size="30"></td>
    <td>
      Pyelo<br>
      asldkjfasdf<br>
      askldfoiwqef<br>
    </td>
  </tr>
</table>